<!DOCTYPE html>
<html>
<head>
  <title>D3 - Data Driven Documents</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.13/d3.min.js"></script>
  <script src="http://fb.me/react-0.12.1.js"></script>
  <script src="http://fb.me/JSXTransformer-0.12.1.js"></script>
  <style>
    .axis text {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .active {
      fill: red;
    }
  </style>
</head>
<body>
  <svg class="chart"></svg>
  <select name="option" width="300px" onchange="chartInstance.updateChart(this.selectedIndex)">
  {% for team in data %}
      <option name="{{team.name}}">{{team.name}}</option>
  {% endfor %}
  </select>
  // <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascriptcode.js') }}"></script>
   -->// <script type="text/jsx">
    // React Code

var Chart = React.createClass({
  propTypes: {
    data: React.PropTypes.array,
    domain: React.PropTypes.object,
    width: React.PropTypes.number,
    height: React.PropTypes.number,
    margin: React.PropTypes.object
  },
  componentDidMount: function() {
    var el = this.getDOMNode();
    d3Chart.create(el, this.props);
  },
  componentDidUpdate: function() {
    var el = this.getDOMNode();
    d3Chart.update(el, this.props);
  },
  render: function() {
    return (
      <div className="Chart"></div>
    );
  }
});

var App = React.createClass({
  getInitialState: function() {
    return {
      data: this.props.data,
      domain: {
        x: this.props.data.map(function(d, i) {
          return i;
        }),
        y: [0, Math.max.apply(null, this.props.data)]
      }
    };
  },
  render: function() {
    var marginObj = {
      top: 20,
      right: 30,
      left: 30,
      bottom: 40
    };
    return (
      <div>
        <Chart data={this.state.data}
               domain={this.state.domain}
               width={960}
               height={500}
               margin={marginObj} 
        />
      </div>
    );
  }
});

// D3 Code

var d3Chart = {};

d3Chart.create = function(el, props) {
  console.log(props);
  var svg = d3.select(el).append('svg')
    .attr('class', 'd3')
    .attr('width', props.width + props.margin.left + props.margin.right)
    .attr('height', props.height + props.margin.top + props.margin.bottom);

  svg.append('g')
    .attr('class', 'd3-points')
    .attr('transform', 'translate(' + props.margin.left + ',' + props.margin.top + ')');

  this.update(el, props);
};

d3Chart.update = function(el, props) {
  // Re-compute the scales, render the data points
  var scales = this.scales(el, props);
  var axes = this.axes(el, props, scales);
  this.plotPoints(el, props, scales, axes);
};

d3Chart.scales = function(el, props) {
  var scales = {};

  scales.x = d3.scale.ordinal()
    .domain(props.domain.x)
    .rangeRoundBands([0, props.width], 0.1);

  scales.y = d3.scale.linear()
    .domain(props.domain.y)
    .range([props.height, 0]);

  return scales;
};

d3Chart.axes = function(el, props, scales) {
  var axes = {};

  axes.x = d3.svg.axis()
    .scale(scales.x)
    .orient('bottom');

  axes.y = d3.svg.axis()
    .scale(scales.y)
    .orient('left')

  return axes;
};

d3Chart.plotPoints = function(el, props, scales, axes) {
  console.log(arguments);
  var g = d3.select(el).selectAll('.d3-points');

  var dataPoint = g.selectAll('.d3-point')
    .data(props.data)
    .enter()
    .append('rect')
    .attr('class', 'd3-point');

  dataPoint.attr('x', function(d, i) {
    return scales.x(i);
  })
  .attr('y', function(d) {
    return scales.y(d);
  })
  .attr('height', function(d) {
    return props.height - scales.y(d);
  })
  .attr('width', scales.x.rangeBand());

  dataPoint.exit()
    .remove();
};

var initialize = function(dataset) {
  React.render(<App data={dataset} />, document.body);
}

initialize({{data[0].scores|safe}});
  </script>
</body>
</html>