<!DOCTYPE html>
<html>
<head>
  <title>D3 - Data Driven Documents</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.13/d3.min.js"></script>
  <style>
    .axis text {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .active {
      fill: red;
    }
  </style>
</head>
<body>
  <svg class="chart"></svg>
  <select name="option" width="300px" onchange="chartInstance.updateChart(this.selectedIndex)">
  {% for team in data %}
      <option name="{{team.name}}">{{team.name}}</option>
  {% endfor %}
  </select>
  <script type="text/javascript" src="{{ url_for('static', filename='javascriptcode.js') }}"></script>
  <script type="text/javascript">
    chartInstance.initialize({{data|safe}});
  </script>
</body>
</html>